{
  "presets": [
    ["@babel/preset-env",
    {
      "targets": {
        "esmodules": true,
        "node": "8"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
