{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 2015,
        "impliedStrict": true,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true,
            "experimentalObjectRestSpread": true
        }
    },
    "plugins": [
        "prettier",
        "@babel"
    ],
    "rules": {
        "prettier/prettier": "error"
    }
}
